<div class="post-navigation center">
    {{#prev_post}}
    <a class="post-navigation-link left" href="{{ url }}">
        <span class="icon arrow-left">{{> "icons/arrow-left"}}</span>
        {{title}}</a>
    {{/prev_post}} 
    
    {{#next_post}}
    <a class="post-navigation-link right" href="{{ url }}">
        {{title}} <span class="icon arrow-right">{{> "icons/arrow-right"}}</span></a>
    {{/next_post}}
</div>