{{!< default}}


<div class=" col-md-12 m-center">
    <section class="open-book">
        <header>
            <h1>{{date}}</h1>
            <h6></h6>
        </header>

{{#tag}}
        <div class="page-cover {{^if feature_image}}no-image{{/if}}"
        {{#if feature_image}}style="background-image: url({{feature_image}})"{{/if}}>
        </div>
        <h2 class="chapter-title">{{name}}</h2>
{{/tag}}

        <article>
        {{> "loop"}}
        </article>
        <footer>
            <ol id="page-numbers">
                <li></li>
                <li></li>
            </ol>
        </footer>

    </section>
</div>