{{!< default}}
{{#tag}}
    <div class="page-cover {{^if feature_image}}no-image{{/if}}"
    {{#if feature_image}}style="background-image: url({{feature_image}})"{{/if}}>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-cover-text">
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/tag}}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-10 mx-auto pt-5">
            {{> "loop"}}
        </div>
    </div>
</div>