.right-thumbnail-area {
    padding-top: 120px;
    .title {
        @include libre;
    }
    .contents-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.content-header-wrapper {
    padding-top: 120px;

    // padding-bottom: 120px;
    // position: relative;
    // color: #fff;
    // background-size: cover;
    // background-position: center center;

    &.fullwidth-header {
        padding-bottom: 120px;
        position: relative;
        background-size: cover;
        background-position: center center;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba($black, 0.3);
        }
        color: $white;
        .content-title {
            color: $white;
        }
        a {
            color: $white;
        }
    }

    .content-title {
        @include helvetica-neue(300);
        color: $primary;
        padding-bottom: 15px;
    }

    .content-feature-media {
        max-width: 1200px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 35px;
    }
}
.content-metas {
    @include noto-sans;
    .meta-date {
        margin-right: 8px;
        @include helvetica-neue(700);
    }
    .meta-author {
        margin-top: 8px;
        display: inline-block;
    }
}
$contentSize: 18;
$contentLineHeight: 31;
.content-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 65px;
    min-height: 230px;

    background: #fff;
    font-weight: 400;

    color: $darkgrey;
    font-size: #{$contentSize}px;
    line-height: #{$contentLineHeight}px;
    @include helvetica-neue(400);
    p {
        color: $darkgrey;
        font-size: #{$contentSize}px;
        line-height: #{$contentLineHeight}px;
        margin-bottom: 28px;
        @include helvetica-neue(400);
    }

    li {
        margin-bottom: 10px;
    }

    a {
        border-bottom: 1px solid $primary;
        &:hover {
            border-bottom: none;
            color: $primary;
        }
    }

    ol,
    ul {
        font-size: #{$contentSize}px;
    }
    h2 {
        font-size: #{$contentSize * 1.888888889}px;
    }
    h3 {
        font-size: #{$contentSize * 1.444444444}px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 35px;

        &:first-child {
            margin-top: 0;
        }

        line-height: 45px;

        font-weight: 700;
        strong {
            font-weight: 700;
        }
    }
}

.content-footer-wrapper {
    text-align: center;
    .subscripe-input-wrapper{
        margin: auto;
    }
    .msg {
        @include helvetica-neue(300);
        color: $primary;
        margin-bottom: 40px;
    }
    .subscripe-input-wrapper .email {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    margin: 85px 0;
}

.post-sharer {
    display: flex;
    align-items: center;

    margin: 35px 0;

    .title {
        margin-right: 35px;
        font-size: 20px;
        margin-bottom: 0;
    }
    .social-share-links {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-right: 30px;
            &:first-child {
            }
        }
    }
}

.author-box {
    display: flex;
    flex-wrap: wrap;

    // background: #fafafa;
    align-items: center;
    padding: 15px;
    padding-top: 30px;

    .author-profile-image {
        margin-right: 25px;

        .author-profile-inner {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .author_details {
        flex: 1;
        .name {
            font-size: 18px;
        }
    }
}
.post-navigation {
    i {
        font-size: 25px;
    }
    .post-navigation-link {
        i {
            transition: 120ms;
        }
        &:hover {
            .arrow_carrot-left {
                transform: translateX(-5px);
            }
            .arrow_carrot-right {
                transform: translateX(5px);
            }
        }
    }
}

.author-list-wrapper {
    .single-author-block {
        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
        }
        .author-image {
            margin-bottom: 30px;
        }
    }
}

/* Gallery post */
.kg-gallery-container {
    /**/
}
.kg-gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .kg-gallery-image {
        flex: 1 1 200px;
        text-align: center;
        img {
            height: auto !important;
        }
    }
}
figure.kg-card.kg-gallery-card.kg-width-wide,
.writter-wide {
    padding: 40px 0;
    width: calc(65vw + 2px);
    margin: auto calc(50% - 50vw - 0.8rem);
    transform: translateX(calc(50vw - 50% + 0.8rem));
    min-width: calc(100% + 18rem);
}

// Images settings class
.kg-image-card {
    padding-bottom: 35px;
    .kg-image {
        width: 100%;
    }
    &.kg-width-wide {
        margin: 0 -10vw;
    }
}
.kg-card.kg-image-card.kg-width-full,
.writter-wide-full {
    margin-left: calc(50% - 50vw + 7px);
    margin-right: calc(50% - 50vw + 8px);
}
.kg-gallery-image img:hover {
    cursor: pointer;
}

/**
    Contact Form
    */

.form-control {
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0 0 1px;
    border-radius: 0;
    margin-bottom: 20px;
}
.form-group {
    .btn.btn-primary {
        padding: 10px 30px;
        border-radius: 50px;
        background-color: $primary;
        border-color: $primary;
        transition: 300ms;
        &:hover {
            opacity: 0.9;
        }
    }
}
